.loginBox{
    position: relative;
    background-color: #fff;
    height: 100%;
    touch-action: none;
}
.am-list-item{
    width: 95%;
    height: 54px!important;
    margin: 12px auto;
}
.login{
    margin-top: 50px ;
}
.am-list-body::before,.am-list-body::after{
    display: none!important;
}
.am-list-line::after{
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 95%!important;
    height: 2PX!important;
    transform-origin: 50% 100%;
    transform: scaleY(0.5);
}
.am-input-control input{
    font-size: 13px!important;
}
.red .am-list-line::after{
    background-color: red!important;
}
.red .am-input-label{
    color: red!important;
}
.loginbtn{
    width: 90%;
    margin: 50px auto;
    border-radius: 50px;
}
.loginfoo{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    > a{
        color: #646464;
    }
}
