.info-box {
    .am-list-line::after {
        display: none;
    }

    .am-list {
        border-top   : none;
        border-bottom: 1PX solid #ddd;

        .am-list-body {
            border-top   : none;
            border-bottom: 1PX solid #ddd;
        }

    }

    .am-list:first-child {
        .am-list-item {
            height: 80px!important;
            margin-top : 0;
            padding-top: 12px;
        }
        .am-list-line {
            .am-list-extra {
                position: absolute;
                right   : 0;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                padding: 0;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    
                }
            }
        }

    }

    .am-list:not(:first-child) {
        .am-list-body {
            height: 45px;

            .am-list-item {
                width : 100%;
                height: 45px !important;
                margin: 0;
            }
        }
    }
}