.changepass{
    height: 100%;
    .am-list{
        height: 100%;
        .am-list-body{
            height: 100%;
            border-top-color:transparent ;
            .am-list-line{
                border-bottom: 0;
            }
        }
    }
}