@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,span,form,fieldset,legend,img,input,figure,figcaption{
    margin:0;
    padding:0;
    /* touch-action: none; */
}
html,body{
    width: 100%;
    height: 100%;
}
*{
    /* 让所有的元素触发怪异盒模型 */
    box-sizing: border-box;
    /* background-color: #fff; */
}
h1,h2,h3,h4,h5,h6,i,span{
    font-size:16px;
    font-weight: normal;
}
ul,ol,li{
    list-style:none;
}
a,u{
    text-decoration: none;
}
b,strong{
    font-weight: normal;
}
em,i{
    font-style:normal;
}
img{
    border:0;
    display:block;
    /*清除图片下面的大于3px的间距*/
}
input{
    outline:none;
    display:block;
}
#root{
    width: 100%;
    height: 100%;
}
.App{
    width: 100%;
    height: 100%;
}
.border-1px::before{
    content: '';
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1PX;
    transform-origin: 50% 100%;
    transform: scaleY(0.5); 
}