
.myorder-wrap{
    background: #f5f5f5;
    .top{
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 99;
    }
    .noGoods{
        width: 100%;
        height: 400px;
        text-align: center;
        padding-top: 100px;
        color: #575757;
        overflow-y: auto;
        .noGoodsBg{
            width: 180px;
            height: 180px;
            background: url(../../assets/img/no-orderBg.png) no-repeat;
            background-size: 100% 100%;
            margin: 20px auto;
        }
    }
    
    ::-webkit-scrollbar{  
        display: none!important;
        width: 0px;  
        height: 0px;  
    }
    .myorder-goods{
        padding: 45px 0 20px;
        width: 100%;
        overflow-y:scroll;
        height:calc(100vh);
      
        .goods-item{
            width: 100%;
            height: 150px;
            background: #fff;
            padding: 0 14px;
            margin-top: 10px;
            border-radius: 16px;
            position: relative;
            // box-shadow: 0 0 10px 3px rgba(0,0,0,.1);
            // background-image: linear-gradient(to right,#ff938281,#ff43368f);
            .fh-title{
                position: absolute;
                right: 14px;
                top: 16px;
                color: orangered;
                font-size: 12px;
            }
            .topTitle{
                height: 40px;
                line-height: 40px;
                // border-bottom: 1px solid rgb(233, 233, 233);
                .gbrandtitle{
                    font-size: 17px;
                    font-weight: 700;
                }
            }
            .goods-message{
                padding: 10px 0;
                display: flex;
                width: 100%;
                height: 100px;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 80px;
                    height: 80px;
                    border-radius: 10px;
                }
                .goods-title{
                    font-size: 15px;
                    width: 160px;
                    position: relative;
                    .goods-size{
                        position: absolute;
                        font-size: 12px;
                        left: 0px;
                        bottom: -20px;
                        color: orange;
                    }
                }
                .goods-num-box{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: 100%;
                    // align-items: center;
                    text-align: right;
                    justify-content: center;
                    width: 60px;
                    .goods-price{
                        font-size: 12px;
                        font-weight: 300;
                        position: absolute;
                        right: 0;
                        b{
                            font-size: 18px;
                        }
                    }
                    .goods-count{
                        text-align: right;
                        font-size: 12px;
                        position: absolute;
                        bottom: 4px;
                        right: 0;
                    }
                }
            }
            .order-btm{
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .odr-time{
                    font-size: 11px;
                    color: #444444;
                }
                span{
                    padding: 6px 14px;
                    border: 1px solid rgb(177, 177, 177);
                    color: #444444;
                    border-radius: 20px;
                    font-size: 14px;
                    margin-left: 10px;
                    background: #fff;
                    // box-shadow: 0 0 10px 0px rgba(255,255,255,.3);
                }
                span:active{
                    background: #dbdbdb;
                }
            }
        }
    }
}