.btnBox-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.7);
    transition: .3s;
}
.isBox{
    width: 100%;
    position: absolute;
    // height: 360px;
    overflow-y: auto;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 -5px 10px rgba(0,0,0,.1);
    .closeBox{
        border-radius: 100%;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 3px;
        top: 2px;
        text-align: center;
        line-height: 50px;
        transition: .2s;
        .iconfont{
            font-size: 30px !important;
        }
    }
    .closeBox:active{
        background: #dbdbdb69;
    }
    .coupon-wrap{
        .wrap-title{
            font-size: 18px;
            color: #383838;
            width: 100%;
            text-align: center;
            padding: 15px 0 0;
        }
        .coupon-item{
            width: 100%;
            height: 100px;
            margin: 10px;
            background: url(../../assets/img/coupon_bg.png) no-repeat;
            background-size: 94% 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .coupon-price{
                padding-left: 16px;
                font-size: 18px;
                display: flex;
                align-items: center;
                color: #f55b50;
                .price-num{
                    font-size: 30px;
                }
            }
            .coupon-title{
                .coupon-condition{
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 10px;
                    color:#444;
                    line-height: 14px;
                }
            }
            .getCoupon{
                writing-mode: vertical-lr;
                margin-right: 34px;
                font-size: 14px;
                color: #fff;
            }
        }
    }
    
}

.moveShow{
    animation: btnShow .5s forwards;
}
.moveNot{
    animation: btnNot .5s forwards;
}
.isOkBtn{
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    height: 60px;
    .btnBox{
        display: flex;
        .cancel-btn,.define-btn{
            width: 170px;
            height: 42px;
            text-align: center;
            line-height: 44px;
            span{
                display: block;
                width: 100%;
                height: 100%;
                color:#fff;
            }
        }
        .cancel-btn{
            background: linear-gradient(to right,#fdda14de,#fdbf14);
            border-radius: 22px 0 0 22px;
        }
        .define-btn{
            background: linear-gradient(to right, #ff9282, #ff4436);;
            border-radius: 0 22px 22px 0;
        }
    }
}
@keyframes btnShow {
    0%{
        bottom: -500px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes btnNot {
    0%{
        bottom: 0;
    }
    100%{
        bottom: -500px;
    }
}