.site-card-wrapper{
    position: relative;
    padding: 15px;
    .ant-card-bordered{
        border: 1px solid #b0b0b0;
    }
    .ant-card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .adminHeader{
        width: 200px;
        margin: 0 auto;
        position: relative;
        top: -28px;
    }
    .adminName{
        padding-top: 5px;
        text-align: center;
        font-size: 18px;
    }
    .adminStatus{
        position: absolute;
        top: 16px;
        right: 14px;
    }
}
.adminReg{
    position: relative;
    width: 100%;
    height: 100%;
    .regBox{
        position: absolute;
        width: 400px;
        left: 50%;
        transform: translateX(-80%);
        top: 100px;
        .captchaImg{
            svg{
                width: 100px;
                height: 32px;
            }
        }
    }

}